// Scaffolding
// -------------------------
$body-bg: #f9fafc;
$dbx-bg: #704C9F;
$primary-color: #7B3200;
$nav-text: #9094a5;
$secondary-text: #8A96AF;
$secondary-text-with-half-opacity: "unquote('#8a96af80')";
$divider: rgba(48, 53, 63, 0.1);
$asset-bg: #f0f0f0;
$options-text: #646E83;
$active-color: #297BFF;
$post-background: #8394E0;
$user-active: #6E86E7;
$filter-active: #73DB9B;
$filter-text: #878FA2;
$filter-icon-bg: #64C489;
$title-lightblue: #21C4CB;
$title-lightGreen: #21cba5;
$title-red: #EE6B6B;
$filter-selected-border: #EBEBEB;
$filter-selected-text: #64C489;
$card-shadow: #AFBFDE;
$card-shadow-with-20opacity: rgba(175, 191, 222, 0.2);
$site-footer-text: #A5A9B8;
$menu-item-border: #889398;
$thumb-border: #2887F2;
$active-color-mobile: #00B9FF;
$active-color-mobile-with-opacity: rgba(0, 185, 255, .73);
$secondary-text-mobile: #37414B;
$secondary-text-mobile-dark: #333333;
$filter-text-mobile: #788EA9;
$title-text: #30353F;
$error: #FF6E75;
$error-black: #20284B;
$search-border: rgba(175,191,222,0.68);
