.left {
    float: left; 
    width: 30%;
    height: 200px;
    border: 1px solid black;
}
   
.internal {
    width: 31.75%;
    height: 100%;
    border: 1px solid black;
    display: inline-block;
}
   
.center {
    float: left; 
    width: 38.9%;
    height: 200px;
    border: 1px solid black;
    margin: 1px;
    overflow: hidden;
    /*will change this to hidden later to deny scolling to user*/
    white-space: nowrap;
}
   
.right {
    float: right; 
    width: 30%;
    height: 200px;
    border: 1px solid black;
}